.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    padding: 10px;
}

.header-left > h3 {
    display: flex;
    align-items: center;
    color: white;
}

.header-hash {
    color: gray;
    font-size: 30px;
    padding: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-items: space-between;
}

.header-right > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
}

.header-right > .MuiSvgIcon-root:hover {
    color: white;
}

.search > input {
    background: transparent;
    color: white;
    border: none;
    outline-width: 0;
}

.search {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}