.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
}

.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.MuiSvgIcon-root {
    cursor: pointer;
}

.sidebar-channels {
    flex: 1;
}

.channels-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.add-channel {

}

.add-channel:hover {
    color: white;
    transition: 1s all ease;
}

.sidebar-voice, .sidebar-profile {
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.voice-icon {
    color: #4fb185;
}

.voice-icon:hover {
    color: #3b8162;
    /* transform: scale(1.2); */
    transition: 1s all ease;
}

.voice-info {
    flex: 1;
    padding: 10px;
}

.voice-info > h3 {
    color: #4fb185;
}

.voice-info > p {
    font-size: smaller;
}

.voice-icons > .MuiSvgIcon-root {
    padding: 10px;
}

.voice-icons > .MuiSvgIcon-root:hover {
    transform: scale(1.3);
    transition: 1s all ease;
}

.profile-info {
    flex: 1;
    padding: 10px;
}

.profile-info > h3 {
    color: white;
}

.profile-icons {

}